<header>
    <div class="p-grid">
        <div class="p-col-3">
            <div class="logo">
                <a [href]="'/'">
                    <img src="../../../assets/images/logo.png" alt="logo" />
                </a>
            </div>
        </div>
        <div class="p-col-4 search">
            <products-search></products-search>
        </div>
        <div class="p-col-3 p-offset-1 navigation">
            <toyhub-nav> </toyhub-nav>
        </div>
        <div class="p-col-1 tools">
            <a *ngIf="isAuthenticated" [routerLink]="'/history'"><i class="pi pi-user"></i></a>
            <a *ngIf="isAuthenticated" class="logout" (click)="logoutUser()"><i class="pi pi-sign-out"></i></a>
            <a *ngIf="!isAuthenticated" [routerLink]="'/login'"> <i class="pi pi-user"></i> </a>
            <orders-cart-icon></orders-cart-icon>
        </div>
    </div>
</header>
